.content{
    background: url("../../images/BackGround.png"); 
    background-size: 100vw;
    background-attachment: fixed;
    width: 99vw;
    height: 98vh;
    border: 10px black solid;
    background-repeat: no-repeat;
}
.button{
    background: none;
    border: none;
}
.buttonImg{
    transition: transform .2s;
    width: 40%;
}
.buttonImg:hover{
    transform: scale(1.2);
}
.buttonImg:active{
    transform: scale(1);
}
.text{
    font-size: 7em;
    color: #a17344;
    text-shadow: 8px 8px 8px #382a1d;
    display: flex;
    position: center;
    margin-top: 10vh;
    margin-left: 5em;
    margin-right: 5em;
    pointer-events: none;
}